// 불리언 데이터 타입 (참,거짓)
$condition: false;
$wanted-color: tomato;

// 등가 비교방식
h1 {
	@if $wanted-color ==tomato {
		color: tomato;
	}
}


// mixin에 조건문 넣어서 사용해보기
@mixin select-color($color) {
	@if $color ==blue {
		color: blue;
	}

	@else {
		color: tomato;
	}
}

h2 {
	@include select-color(red);
}